/* RGB PALETTE 
#A0A4B8 - grey
#7293A0 - blue
#45B69C green
#E6E6EA light grey
F4F4F8 white
*/

/***********************************
Global styles
************************************/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-family: 'News Cycle', sans-serif;
   margin: 0;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
    margin-top: 0;
}
a{
    color: #E6E6EA;
}
a:hover{
    text-decoration: none;
}

.content-wrap{
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}

.col-narrow{
    width: 30%;
    float: left;
    min-height: 175px;
}
.col-wide{
    width: 70%;
    float: left;
    padding-left: 20px;
    min-height: 175px;
}
/***********************************
Header and footer
************************************/
header, footer{
    background:#45B69C;
    color: #E6E6EA
}

/*header*/
header h1, header h2 {
    color: #F4F4F8;
    margin: 0;
}


.profile-img{
    border-radius: 50%;
}

/*footer*/
footer{
    text-align: center;
}
.contact-info a{
    padding: 20px;
    display: inline-block;
    width: 20%;
    text-align: center;
    
}
/***********************************
Work Experience
************************************/
.work{
    background: #7293A0;
}
/***********************************
Education 
************************************/
.education{
   
    background: #A0A4B8;
}